@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #191765;
}

.container {
  display: flex;
  flex-direction: column;
  color: white;
}

.wrap {
  color: white;
  max-width: 500px;
  min-height: 540px;
  display: flex;
  flex-direction: column;
}

.wrap > * {
  flex: 1 1 auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 39px 0 25px;
}

.logo {
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.ham {
  border: none;
  background-color: inherit;
}

.menu div {
  background-color: white;
}

.menu {
  width: 30px;
  display: block;
}

.header {
  display: flex;
  align-items: center;
}

.dev {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.name {
  display: flex;
  justify-content: center;
  color: #7d73fc;
  font-size: 48px;
  font-weight: 700;
}

.fab {
  margin-bottom: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(./img/Ellipse\-18.png);
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.soft {
  margin: 0;
}

.pa {
  font-size: 20px;
  font-weight: 400;
  margin: 50px 24px 40px 24px;
  color: #c8c8d4;
}

.bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 36px;
  padding-right: 80px;
  background-image: url(./img/Ellipse\ 19.png);
  background-position: right;
  background-position-y: -30px;
  background-repeat: no-repeat;
}

.sk {
  display: flex;
  padding-left: 36px;
}

.lang {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.list {
  margin: 0;
  padding: 0;
  text-align: left;
}

.fwork {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.main {
  color: #9490ff;
  font-size: 12px;
  font-weight: 500;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.so :hover {
  background-color: gold;
  color: black;
}

ul {
  list-style-type: none;
}

.so {
  display: flex;
}

li {
  margin-bottom: 10px;
}

.ham:hover {
  background-color: gold;
  color: black;
}

.space {
  margin-right: 21px;
}

.middle {
  display: grid;
  grid-template-columns: 24px 327px 24px;
  grid-template-rows: auto;
  background-image: url(./img/Ellipse\ 19@1x.png);
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.work {
  grid-column: 2 / 3;
  font-size: 40px;
  font-weight: 500;
  color: #7d73fc;
}

.divi {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.blank {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.stuff {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

.but {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  display: flex;
}

.bt {
  width: 89px;
  height: 48px;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  background-color: #7d73fc;
  color: white;
}

.post {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  font-size: 32px;
  font-weight: 500;
}

.select {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #dcdce8;
}

.middle2 {
  display: grid;
  grid-template-columns: 24px 327px 24px;
  grid-template-rows: auto;
  background-image: url(./img/Ellipse\ 20@2x.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 100px;
  margin-bottom: 40px;
}

.middle3 {
  display: grid;
  grid-template-columns: 24px 327px 24px;
  grid-template-rows: auto;
  background-image: url(./img/Ellipse\-21@2x.png);
  background-position-y: 80px;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.middle4 {
  display: grid;
  grid-template-columns: 24px 327px 24px;
  grid-template-rows: auto;
  background-image: url(./img/Ellipse\ 22@2x.png);
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.bt:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.bt:focus {
  background: #5e42d7;
}

.bt:disabled {
  background: #2a2b33;
}

.contact {
  
}

.co {
  font-weight: 500;
  font-size: 32px;
  color: #9390FF;
  align-self: center;
}
