
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #191765;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  color: white;
}

/* .container.blur {
  display: flex;
  flex-direction: column;
  color: white;
  filter: blur(15px);
} */

.wrap {
  color: white;
  max-width: 500px;
  min-height: 540px;
  display: flex;
  flex-direction: column;
}

.wrap > * {
  flex: 1 1 auto;
}

.top {
  display: flex;
  position: fixed;
  width: 100%;
  height: 8%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0;
  background-color: #191765;
}

.logo {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 2rem;
}

.ham {
  border: none;
}

.hams {
  display: block;
  width: 1rem;
  height: 3px;
  margin: 4px auto;
  background-color: white;
}

.button {
  background-color: #191765;
  margin-right: 2rem;
}

.button.show {
  display: none;
}

.clos {
  display: none;
}

.cross {
  display: block;
  width: 30px;
  height: 6px;
  margin: 8px auto;
  background-color: white;
}

.clos.show .cross:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.clos.show .cross:nth-child(2) {
  transform: translateY(-7px) rotate(-45deg);
}

.navigation {
  height: 812px;
  background-image: url(./img/shapes\ mobile\ menu.png);
  background-repeat: no-repeat;
  background-position-y: 100px;
}

.menu-page {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 6px 48px;
  grid-template-rows: auto;
  align-items: center;
}

.menu-page a {
  text-decoration: none;
  color: white;
}

.adj.one {
  grid-column: 2;
  grid-row: 1;
  font-size: 24px;
  font-weight: 500;
  padding-left: 0;
}

.adj.two {
  grid-column: 2;
  grid-row: 2;
  font-size: 24px;
  font-weight: 500;
  padding-left: 0;
}

.adj.three {
  grid-column: 2;
  grid-row: 3;
  font-size: 24px;
  font-weight: 500;
  padding-left: 0;
}

.pointer1 {
  grid-column: 4;
  grid-row: 1;
}

.pointer2 {
  grid-column: 4;
  grid-row: 2;
}

.pointer3 {
  grid-column: 4;
  grid-row: 3;
}

.clos.show {
  display: block;
  background-color: #191765;
  margin-right: 2rem;
}

.nav-bar {
  display: none;
}

/* .adj {
  color: white;
  text-decoration: none;
  padding-bottom: 24px;
  padding-left: 40px;
  font-size: 24px;
  font-weight: 500;
} */

.letter {
  display: none;
}

.nav-bar.show {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 6px 48px;
  grid-template-rows: auto;
  align-content: start;
  height:100vh;
  gap: 0;
  position: fixed;
  top: 8%;
  background-color: #191765;
  width: 100%;
  background-image: url(./img/shapes\ mobile\ menu.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 24px;
  left: 0;
}

.menu div {
  background-color: white;
}

.menu {
  width: 30px;
  display: block;
}

.header {
  display: flex;
  align-items: center;
}

.dev {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.name {
  display: flex;
  justify-content: center;
  color: #7d73fc;
  font-size: 48px;
  font-weight: 700;
  top: 10rem;
}

#fab {
  margin-bottom: 0;
  transition: transform 2s;
  padding-top: 4rem;
}

.headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(./img/Ellipse\-18.png);
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.soft {
  margin: 0;
}

.pa {
  font-size: 20px;
  font-weight: 400;
  margin: 50px 24px 40px 24px;
  color: #c8c8d4;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-left: 24px;
  background-image: url(./img/Ellipse\ 19.png);
  background-position: right;
  background-position-y: -30px;
  background-repeat: no-repeat;
}

.lang {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: start;
}

.list {
  margin: 0;
  padding: 0;
  text-align: left;
}

.fwork {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: start;
}

.skills {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: start;
}

.main {
  color: #9490ff;
  font-size: 12px;
  font-weight: 500;
}

.socials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wor {
  font-size: 20px;
  font-weight: 500;
}

.arrow {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wor1 {
  display: none;
}

.arrow1 {
  display: none;
}

.so :hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

ul {
  list-style-type: none;
}

.so {
  display: flex;
  gap: 2rem;
  padding: 0;
  justify-content: center;
}

.li-lang {
  margin-bottom: 19.11px;
  font-size: 15px;
}

.li-frame {
  margin-bottom: 20.65px;
  font-size: 15px;
  text-align: start;
}

.li-skills {
  margin-bottom: 21.33px;
  font-size: 15px;
}

.button:hover {
  background-color: #191765;
}

/* popup window */

.popup-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: auto;
  top: 10%;
  position: fixed;
  color: white;
  background-color: #191765;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border: 1px solid white;
}


#popup-box {
  display: none; /* Hidden by default */
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-top-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portfolio-img {
  width: 80%;
  height: 80%;
}

.popout-image2 {
  display: flex;
  justify-content: center;
}

.popup-top-section h2 {
  font-size: 20px;
  font-weight: 500;
}

.popup-close {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 40px;
}

.popout-description {
  display: flex;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-left: 5%;
  padding-right: 5%;
}

.popout-technologies {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.popout-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popout-live {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  width: 108px;
  height: 48px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #7d73fc;
  color: white;
}

.popout-source {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 124px;
  height: 48px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #7d73fc;
  color: white;
}

.popout-live a {
  text-decoration: none;
}

#overlay {
  position: fixed;
  background-color: #a2a3ae;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  mix-blend-mode: multiply;
}

#work {
  grid-column: 2 / 3;
  font-size: 40px;
  font-weight: 500;
  color: #7d73fc;
  padding-top: 4rem;
}

.divi {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.blank {
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.stuff {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

.but {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  display: flex;
}

.bt1 {
  display: none;
}

.bt {
  width: 89px;
  height: 48px;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  background-color: #7d73fc;
  color: white;
}

.bt2 {
  width: 89px;
  height: 48px;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  background-color: #7d73fc;
  color: white;
}

.bt2:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.post {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  font-size: 32px;
  font-weight: 500;
}

.select {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #dcdce8;
}

.blank2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.stuff2 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

.but2 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  display: flex;
}

.post2 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  font-size: 32px;
  font-weight: 500;
}

.select2 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #dcdce8;
}

#middle1 {
  display: grid;
  grid-template-columns: 24px 327px 24px;
  grid-template-rows: auto;
  background-image: url(./img/Ellipse\ 19@1x.png);
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

#middle2 {
  display: grid;
  grid-template-columns: 24px 327px 24px;
  grid-template-rows: auto;
  background-image: url(./img/Ellipse\ 20@2x.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 100px;
  margin-bottom: 40px;
}

#middle3 {
  display: grid;
  grid-template-columns: 24px 327px 24px;
  grid-template-rows: auto;
  background-image: url(./img/Ellipse\-21@2x.png);
  background-position-y: 80px;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

#middle4 {
  display: grid;
  grid-template-columns: 24px 327px 24px;
  grid-template-rows: auto;
  background-image: url(./img/Ellipse\ 22@2x.png);
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.bt:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.bt:focus {
  background: #5e42d7;
}

.bt:disabled {
  background: #2a2b33;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coco {
  display: none;
}

#co {
  font-weight: 500;
  font-size: 32px;
  color: #9390ff;
  align-self: center;
  height: 35px;
  width: 327px;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 4rem;
}

.descrip {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 40px;
  text-align: center;
}

.animation {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#name {
  width: 327px;
  height: 18px;
  padding: 16px 15px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

#mail {
  width: 327px;
  height: 18px;
  padding: 16px 15px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.ta {
  width: 327px;
  height: 148px;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  padding: 12px;
}

.divi1 {
  margin-top: 71px;
}

.si {
  display: flex;
  margin: 27px 0 5px;
  padding-left: 20px;
  gap: 1.5rem;
  justify-content: center;
}

.movi {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 40px;
  list-style-type: none;
  color: #ebebff;
  margin-top: -10px;
}

.spacey {
  align-items: flex-end;
}

.social {
  gap: 1.5rem;
  text-align: center;
}

.si :hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.vector-4 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    color: #fff;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  .nav-bar.show {
    display: none;
  }

  .ham {
    display: none;
  }

  .animation {
    display: flex;
  }

  .letter {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .adj {
    color: white;
    text-decoration: none;
    margin-right: 33px;
    font-size: 15px;
    font-weight: 500;
    transition-property: font-size;
    transition-duration: 2s;
  }

  .soft {
    font-size: 40px;
    animation-name: soft;
    animation-duration: 6s;
  }

  .para {
    display: grid;
    grid-template-columns: 1fr 447px 1fr;
    grid-template-rows: auto;
  }

  .pa {
    grid-column: 2 / 3;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .devs {
    display: none;
  }

  .devii {
    display: none;
  }

  .devi {
    display: flex;
    justify-content: center;
  }

  .vector-4 {
    display: flex;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 447px 1fr;
    grid-template-rows: auto;
  }

  .bottom {
    display: flex;
    justify-content: space-around;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-image: none;
  }

  .wor1 {
    display: block;
    font-size: 20px;
    font-weight: 400;
  }

  .arrow1 {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .wor {
    font-size: 20px;
    font-weight: 400;
  }

  .w-group {
    display: flex;
    align-items: center;
    color: #b3bac5;
    gap: 20.85px;
  }

  .arrow {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 106px;
    margin-bottom: 238px;
  }

  .container {
    background-image: url(./img/two\ circles\ header.png);
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-position-x: 200px;
  }

  .headline {
    background-image: none;
  }

  #middle1 {
    display: grid;
    grid-template-columns: 142px 444px 1fr 472px 142px;
  }

  #work {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .blank {
    width: 100%;
    height: 448px;
    grid-column: 2 / 4;
    grid-row: 3 / 7;
  }

  .divi {
    width: 100%;
    height: 1px;
    grid-column: 2 / 5;
    margin-bottom: 96px;
  }

  .post {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    margin-left: 24px;
    padding-right: 142px;
  }

  #middle1 .select {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    margin-left: 24px;
  }

  #middle3 .select {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    margin-left: 24px;
  }

  #middle2 .select {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    margin-left: 24px;
    padding-right: 5%;
  }

  #middle4 .select {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    margin-left: 24px;
    padding-right: 5%;
  }

  .stuff {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    margin-left: 24px;
    padding-right: 142px;
  }

  .but {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    margin-left: 24px;
    padding-right: 142px;
  }

  #middle2 {
    direction: ltr;
    direction: rtl;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
  }

  .blank2 {
    width: 100%;
    height: 448px;
    grid-column: 3 / 5;
    grid-row: 1 / 5;
    padding-right: 142px;
  }

  .post2 {
    font-size: 32px;
    font-weight: 500;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-right: 24px;
  }

  .select2 {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #dcdce8;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 24px;
  }

  .stuff2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-right: 24px;
  }

  .but2 {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin-right: 24px;
  }

  #middle3 {
    display: grid;
    grid-template-columns: 142px 444px 1fr 472px 142px;
  }

  #middle4 {
    direction: ltr;
    direction: rtl;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
  }

  .co {
    display: none;
  }

  .coco {
    display: block;
  }

  .co1 {
    font-weight: 700;
    font-size: 40px;
    color: #9390ff;
    align-items: center;
    height: 35px;
    width: 100%;
    margin-right: 0;
    text-align: center;
    padding-top: 4rem;
  }

  .contact {
    display: grid;
    grid-template-columns: 378px 1fr 378px;
    grid-template-rows: auto;
  }

  .descrip {
    font-weight: 400;
    font-size: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 61px;
    text-align: center;
  }

  .form {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  #name {
    width: 90%;
  }

  #mail {
    width: 90%;
  }

  .ta {
    width: 91%;
  }

  .bt {
    display: none;
  }

  .bt1 {
    display: flex;
    min-width: 160px;
    height: 48px;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    background-color: #7d73fc;
    color: white;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 20.5px;
  }

  .movi {
    padding-bottom: 0;
  }

  .si {
    margin-top: 6px;
  }

  .si :hover {
    transform: scale(1.2);
  }

  .so :hover {
    transform: scale(1.2);
  }

  .adj:hover {
    font-size: 20px;
  }

  .letter:hover {
    color: black;
  }

  .bt1:hover {
    box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  }

  @keyframes soft {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.5);
    }

    50% {
      transform: rotate(360deg);
      color: green;
    }

    100% {
      transform: rotate(0);
    }
  }

  .popup-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
    top: 10%;
    position: fixed;
    color: white;
    background-color: #191765;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border: 1px solid white;
  }

  .popup-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .popup-top-section h2 {
    font-size: 20px;
    font-weight: 500;
    padding-left: 24px;
  }

  .popout-image2 {
    display: flex;
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
  }

  .popout-description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
  }

  .popout-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 78px;
  }

  .popout-live {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    height:3rem;
    width: 100%;
    background-color: #7d73fc;
    color: white;
    text-decoration: none;
  }

  .popout-live:hover {
    box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
    cursor: pointer;
  }

  .popout-source {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:3rem;
    width: 100%;
    background-color: #7d73fc;
    color: white;
  }

  .popout-source:hover {
    box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
    cursor: pointer;
  }

  .popup-close {
    padding-right: 38px;
  }

  .popout-technologies {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .portfolio-img {
    width: 80%;
    height: 80%;
  }
}
